// VARIABLES
$white : rgb(255, 254, 254);



// BODY
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

a, a:visited{
  color: $white;
  text-decoration: none;
}