@font-face {
  font-family: "Allura";
  src: url(../font/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

a, a:visited {
  color: rgb(255, 254, 254);
  text-decoration: none;
}

h1, h2, h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: "Allura", Arial, Helvetica, sans-serif;
  color: rgb(165, 114, 72);
  text-transform: none;
}

.silverware {
  height: 40px;
}

#main {
  background: rgb(33, 32, 30);
}

.round_img {
  margin: 15px auto;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

header {
  background: url(../img/bg-slider-06.jpg) no-repeat fixed center/cover;
  min-height: 100vh;
  position: relative;
}
header nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
  align-items: center;
}
header nav .nav_left h3 {
  color: rgb(255, 254, 254);
  font-size: 3rem;
}
header nav .nav_middle ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  text-transform: uppercase;
}
header nav .nav_right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_content {
  margin: 0 auto;
  color: rgb(255, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
header .header_content .header_box .title h2 {
  font-family: "Allura", Arial, Helvetica, sans-serif;
  color: rgb(165, 114, 72);
  text-transform: none;
  font-size: 4rem;
  font-weight: 100;
}
header .header_content .header_box .title h1 {
  font-size: 5rem;
  letter-spacing: 10px;
  margin-top: -40px;
}
header .header_content .header_box img {
  margin: 55px auto;
}
header .header_content .header_box p {
  text-transform: uppercase;
  letter-spacing: 10px;
}

#home .container {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}
#home .container .left_container {
  background: rgb(238, 238, 238);
}
#home .container .left_container .box_container {
  margin: 15px;
  border: 1px dashed rgb(165, 114, 72);
  padding: 25px;
}
#home .container .left_container .box_container .title_container h3 {
  font-size: 2.3rem;
  font-weight: 100;
  margin-bottom: -15px;
}
#home .container .left_container .box_container .silverware {
  margin: 30px auto;
}
#home .container .left_container .box_container .chef_name {
  margin-top: 35px;
}
#home .container .left_container .box_container .chef_name h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: -5px;
}
#home .container .left_container .box_container .chef_name h4 {
  font-size: 0.8rem;
  color: rgb(187, 188, 189);
  font-weight: 500;
}
#home .container .right_container {
  background: url(../img/store-01.jpg) center/cover;
  height: 100%;
}

#menu {
  background: url(../img/bg-menu-01.jpg) no-repeat center bottom;
  padding-bottom: 20px;
}
#menu .container {
  margin: 35px auto;
}
#menu .container h3 {
  font-size: 2.3rem;
  font-weight: 100;
  margin-bottom: 35px;
}
#menu .container .menu_nav {
  color: rgb(238, 238, 238);
  width: 60%;
  margin: 35px auto;
}
#menu .container .menu_nav ul {
  display: flex;
  justify-content: space-around;
}
#menu .container .menu_nav li {
  position: relative;
  display: block;
}
#menu .container .menu_nav li:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  transform: translateX(-100%);
  bottom: -10px;
}
#menu .container .menu_container {
  background: rgb(238, 238, 238);
  width: 60%;
  margin: 45px auto;
  border-top: 4px solid rgb(165, 114, 72);
  padding: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
}
#menu .container .menu_container .menu_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 1px dashed rgb(187, 188, 189);
  padding: 10px 0;
}
#menu .container .menu_container .menu_box .dish_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  padding: 15px;
}
#menu .container .menu_container .menu_box .dish_content h4, #menu .container .menu_container .menu_box .dish_content p {
  font-weight: 100;
  text-align: left;
}
#menu .container .menu_container .menu_box .dish_content h4 {
  font-size: 0.9rem;
}
#menu .container .menu_container .menu_box .dish_content p {
  font-size: 1.2rem;
}
#menu .container .menu_container .menu_box h6 {
  font-size: 1.3rem;
  font-weight: 100;
  color: rgb(165, 114, 72);
}/*# sourceMappingURL=index.css.map */